body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}


main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.botonera {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}


.boton-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: white;
    margin-bottom: 10px;
}


.boton-img {
    width: 80%; 
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.boton-img:hover {
    transform: scale(1.1);
}


.evento-btn {
    background-color: #4CAF50;
}

.evento-btn:hover {
    background-color: #388E3C;
}

.compra-btn {
    background-color: #2196F3;
}

.compra-btn:hover {
    background-color: #1976D2;
}

.confirmacion-btn {
    background-color: #ff2222dc;
}

.confirmacion-btn:hover {
    background-color: #e61919;
}


footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media (max-width: 600px) {
    .botonera {
        flex-direction: column;
    }
}
