/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 100px;
    background-color: #003366;
}

.container {
    max-width: 400px;
    padding: 20px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #7f7f7f;
    background-color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

input, select {
    display: block;
    margin: 25px auto;
    padding: 12px;
    width: 95%;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #284ca7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #19297a;
}

.btn {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgb(34, 170, 0);
    border: 1px solid rgb(34, 170, 0);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(24, 119, 0);
}

/* Media Queries para Responsividad */

/* Teléfonos (pantallas pequeñas) */
@media (max-width: 600px) {
    body {
        margin: 20px;
    }

    .container {
        width: 100%;
        max-width: 300px;
        padding: 15px;
    }

    h1 {
        margin-bottom: 30px;
    }

    input, select {
        margin: 15px auto;
        padding: 10px;
    }

    button, .btn {
        padding: 8px;
    }
}

/* Tablets (pantallas medianas) */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        margin: 50px;
    }

    .container {
        max-width: 500px;
    }

    h1 {
        margin-bottom: 40px;
    }

    input, select {
        margin: 20px auto;
    }
}

/* Escritorio (pantallas grandes) */
@media (min-width: 901px) {
    .container {
        max-width: 600px;
    }

    h1 {
        margin-bottom: 50px;
    }
}
